<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
    <body>
      <header>
        <nav class="be-red white">
          <ul class="no-list row center-xs">
            <li class="col-md">
            <%= link_to "Home", root_path %>
            </li>
            <li class="col-md">
            <%= link_to "Bio", pages_bio_path %>
            </li>
            <li class="col-md">
            <%= link_to "Service", pages_service_path %>
            </li>
            <li class="col-md">
            <%= link_to "Work", pages_work_path %>
            </li>
          </ul>
        </nav>
      </header>
  
    <%= yield %>
    


    </body>
</html>
